@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

p{
    font-size: 20px;
}

.box1 h1{
    font-family: serif;
}

.box2 h1{
    font-family: sans-serif;
}

.box3 h1{
    font-family: "Dela Gothic One", sans-serif;
}