.event{
    background-color: green;
    width: 400px;
    height: 600px;
    margin: 50px 0px 0px 50px;
    padding: 20px;
}
.event h1{
    color: white;
}
.sport{
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 20px;
    border: solid 2px red;
}
.sport h2{
    color: red;
}
.chorus{
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 20px;
    border: solid 2px blue;
}
.chorus h2{
    color: blue;
}