p,li{
    font-size: 20px;
}


/* css */
@media screen and (min-width: 480px) and (max-width: 960px) {
    iframe{
        height: 400px;
    }
}

@media screen and (max-width: 480px){
    iframe{
        height: 200px;
    }
}